<div class="row">
  <div class="well">
    <h1>Dashboard</h1>
    <p>Fundraiser Name goes here</p>
  </div>
</div>

<div class="row">
  <div class="col col-sm-2"></div>
  <div class="col col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">Doners</div>
      <table class="table table-head">
        <thead>
          <tr>
            <td class="values h3">Name</td>
            <td class="values h3">Amount</td>
            <td class="values h3">Status</td>
            <td class="values h3">Last Contact</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>William J. Clinton</td>
            <td>1,000,000</td>
            <td class="btn-group">Uncollected<%= button_to "Colleced", "#", class: "btn btn-info" %></td>
            <td>April 3, 2015</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
