<div class="row">
  <div class="home">
    <div class="col col-sm-2"></div>
    <div class="col col-sm-8">
      <div class="home-call text-center">
        <h1> Manage your fundraising goals at a glance </h1>
      </div>
    </div>
  </div>
</div>
