<div class="home">
  <div class="col col-sm-8 col-sm-offset-2">
    <div class="jumbotron text-center">
      <h1> Track Fund </h1>
      <h2> Fundraising events at a glance </h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="col col-sm-12 prop-bar">
    <div class="col col-sm-3 col-sm-offset-1 col-centered prop-box-right">
      <h2>Fundraising Events</h2>
      Manage fundraising events at a glance. Add, update and track donors leading up to an event.
    </div>
    <div class="col col-sm-3 col-centered prop-box-center">
      <h2>Synchronize</h2>
      One team member updates an event, the changes are instantly available to the rest of the team.
    </div>
    <div class="col col-sm-3 col-centered prop-box-left">
      <h2>Dashboard</h2>
      Everything you need you know in one clear view.
    </div>
  </div>
</div>
