<div class="row">
  <div class="home">
    <div class="col col-sm-8 col-sm-offset-2">
      <div class="jumbotron text-center">
        <h1>Track Fund</h1>
        <h2> Manage your fundraising goals at a glance </h2>
      </div>
    </div>
  </div>
</div>
