<div class="row">
  <div class="col col-sm-2"></div>
    <div class="col col-sm-8">
      <div class="well text-center">
        <h1> Track Fund </h1>
        <p> Manage your fundraising goal as a glance </p>
      </div>
    </div>
  </div>
</div>
