<div class="row">
  <div class="well col col-sm-8 col-sm-offset-2">
    <fieldset>
      <legend><%= @event.name %></legend>
      <%= form_for @event, url: "/events/#{@event.id}", html: {class: "form-horizontal"} do |f| %>
        <%= render partial: "event_form", locals: {f: f} %>
      <% end %>
    </fieldset>
  </div><!-- col -->
</div><!-- row -->

<script type="text/javascript">
  $(function () {
    $('#start-date').datetimepicker({
      icons: {
        time: "fa fa-clock-o",
        date: "fa fa-calendar",
        previous: "fa fa-arrow-left",
        next: "fa fa-arrow-right"
      }
    });

    $('#end-date').datetimepicker({
      icons: {
        time: "fa fa-clock-o",
        date: "fa fa-calendar",
        previous: "fa fa-arrow-left",
        next: "fa fa-arrow-right"
      }
    });

    $("#start-date").on("dp.change", function (e) {
      $('#end-date').data("DateTimePicker").minDate(e.date);
    });

    $("#end-date").on("dp.change", function (e) {
        $('#start-date').data("DateTimePicker").maxDate(e.date);
    });
  });
</script>
