<div class="row">
  <div class="nav-spacer">
    <div class="well col col-sm-8 col-sm-offset-2">
      <% if current_user && current_user.tokens.find_by(provider: "nation_builder") %>
        <%= render partial: "new_event" %>
        <%= render partial: "dashboard" if @events.any? %>
      <% else %>
        <%= render partial: "authorize_nation_builder" %>
      <% end %>
    </div>
  </div>
</div>
