<div class="row">
  <div class="nav-spacer">
    <div class="well col col-sm-8 col-sm-offset-2">
      <fieldset>
        <legend> New event </legend>
        <%= form_for @event, html: {class: "form-horizontal"} do |f| %>
          <%= render partial: "event_form", locals: {f: f} %>
        <% end %>
      </fieldset>
    </div>
  </div>
</div>
